@import url("resetStyling.css");
/* GLOBAL STYLES */
body {
  width: 85vw;
  min-height: 100vh;
  margin: auto;
  background: url("images/main-background.jpg") no-repeat center center/cover;
}

.error {
  border: 2px #ff1606 solid;
}

/* HEADER */
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  color: #fedc01;
}

header h1 {
  text-transform: uppercase;
  font-size: 48px;
  width: 100%;
  text-align: center;
  border-bottom: 2px #fedc01 solid;
}

header ul {
  height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row nowrap;
          flex-direction: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header ul li {
  width: 50%;
  height: 100%;
  border-left: 1px #fedc01 solid;
  border-right: 1px #fedc01 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li a {
  color: #fedc01;
}

/* FORM */
form {
  margin-top: 130px;
  text-align: center;
  margin-bottom: 32px;
}

form input {
  height: 25px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 1px;
  border: 2px black solid;
  border-radius: 3px;
  background-color: #fcf5f5;
}

form input::-webkit-input-placeholder {
  color: #363535;
  padding-left: 5px;
}

form input:-ms-input-placeholder {
  color: #363535;
  padding-left: 5px;
}

form input::-ms-input-placeholder {
  color: #363535;
  padding-left: 5px;
}

form input::placeholder {
  color: #363535;
  padding-left: 5px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fcf5f5;
  border-radius: 4px 4px 0 0;
}

table thead tr th {
  text-transform: uppercase;
  padding: 15px;
  background-color: peachpuff;
  width: 30%;
}

table thead tr .BtnColumn {
  width: 10%;
}

table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table tbody tr td {
  color: black;
  padding: 15px 19px;
  text-align: center;
}

.total {
  text-transform: uppercase;
  padding: 15px;
  background-color: peachpuff;
  text-align: center;
  font-weight: 700;
  word-spacing: 5px;
  margin-bottom: 30px;
  padding-right: calc(15px + 10%);
}

/* BUTTONS */
.deleteBtn {
  cursor: pointer;
  color: #ff1606;
  font-size: 17px;
  font-weight: 700;
  border: none;
  background: none;
  padding: 0 10px;
}

.addItemBtn {
  width: 80px;
  margin: 0px 5px;
  color: #fcf5f5;
  border: none;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addItemBtn {
    margin-top: 8px;
  }
  .header h1 {
    line-height: 1.2;
    margin: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 80px;
  }
  header h1 {
    font-size: 35px;
  }
  form {
    margin-top: 110px;
  }
  table thead tr th {
    padding: 15px 2px;
  }
  table tbody tr td {
    padding: 15px 2px;
  }
}
/*# sourceMappingURL=App.css.map */